body {
  background-color: yellow;
}
.container-fluid div {
  border: 1px solid #333;
}
.header {
    background: blue;
    min-height: 20vh;
}

.nav {
    background: green;
    min-height: 8vh;
}

.content {
  background: red;
  min-height: 25vh;
}

.aside {
  background: cyan;
    min-height: 25vh;
}

.container-promo {
  background: orange;
}

.container-promo .col-sm-3 {
    min-height: 10vh;
}

.footer {
  background: black;
  min-height: 10vh;
}
